body { 
   background: linear-gradient(#0c0042, #2400b4, #b4a3ff, #2f00ff); 
   background-size: 200% 300%;  
    color: rgb(0, 0, 0); 
    margin: 0; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 1rem; 
    animation color: 15s ease infinite;
    } 
    @keyframes colors {
        0% {
            background-position: 0% 50%;
    
    }
    50%{
    
        background position: 100% 50%;
    }100%{
    
        background position: 0% 50%;
    }}
    .conteudo { 
    margin: 0 auto; 
    width: 100%;; 
    max-width: 450px; 
    margin-top: 50px; 
    margin-bottom: 50px; 
    background: #003cff; 
    padding: 55px; 
    border-radius: 12px; 
    }
    .topo { 
        display: flex; 
        justify-content: space-between; 
        margin-bottom: 35px;  
        } 
        .topo input { 
        width: 350px; 
        padding: 15px; 
        border-radius: 12px; 
        border: 1px solid #000000; 
        outline: none; 
        font-size: 1.2rem; 
        background: #eeeeee; 
        color: rgb(0, 0, 0); 
        } 
        .topo button { 
        width: 45px; 
        border-radius: 12px; 
        border: 1px solid #000000; 
        background: #0029af; 
        color: #0029af79; 
        outline: none; 
        } 
        .topo button:hover { 
        background: #0029af52; 
        cursor: pointer; 
        } 
        #listaTarefas { 
        list-style-type: none; 
        padding: 0; 
        margin: 0; 
        } 
        #listaTarefas li { 
        padding: 20px; 
        background: #90d6ff; 
        border-radius: 12px;
        display: flex; 
        justify-content: space-between; 
        align-items: center; 
        margin-top: 20px; 
        } 
        .btnAcao { 
        border-radius: 20px; 
        border: 1px solid #000000; 
        width: 38px; 
        height: 38px; 
        margin-right: 8px; 
        cursor: pointer; 
        background: #0029af; 
        color: #FFF; 
        outline: none; 
        } 
        .btnAcao:hover { 
        background: #0029af52; 
        } 
        .textoTarefa { 
        overflow: hidden; 
        text-overflow: ellipsis; 
        width: 290px; 
        white-space: nowrap; 
        } 
        #janelaEdicao { 
        position: fixed; 
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        padding: 20px; 
        background: #003cff; 
        border: 1px solid #000000; 
        width: 415px; 
        border-radius: 12px; 
        z-index: 200; 
        display: none;
    } 
    #janelaEdicao.abrir { 
    display: block !important; 
    } 
    #janelaEdicaoFundo { 
    position: fixed; 
    top: 0; 
    background-color: rgb(176, 237, 255); 
    bottom: 0; 
    left: 0; 
    opacity: 0.9; 
    z-index: 100; 
    right: 0; 
    display: none; 
    } 
    #janelaEdicaoFundo.abrir { 
    display: block !important;  
    } 
    #janelaEdicaoBtnFechar { 
    position: absolute; 
    top: -25px; 
    right: -18px;  
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    border: 1px solid #000000; 
    background: #0029af; 
    color: #FFF; 
    outline: none; 
    } 
    form { 
    width: 100%; 
    margin-top: 20px; 
    } 
    .frm-linha {
        display: flex; 
        flex-direction: column; 
        margin-bottom: 20px; 
        } 
        .frm-linha label { 
        margin-bottom: 7px; 
        } 
        .frm-linha input { 
        padding: 15px; 
        border-radius: 12px; 
        outline: none; 
        border: 1px solid #000000; 
        font-size: 1.2rem; 
        background: #ffffff; 
        color: rgb(0, 0, 0); 
        } 
        .frm-linha button { 
        background: #0029af;
        border: 1px solid #000000; 
        padding: 7px; 
        margin-bottom: 10px; 
        border-radius: 12px; 
        color: rgb(0, 0, 0); 
        cursor: pointer; 
        height: 50px; 
        font-size: 1.3rem; 
        outline: none; 
        } 
        .frm-linha button:hover { 
        background: #0029af79; 
        } 
                                